<?xml version="1.0"?>
  <config>
     <modules>
           <Enjoy_AjaxAddToCart>
                 <version>0.1.0</version>
           </Enjoy_AjaxAddToCart>
      </modules>
    <frontend>
        <routers>
            <enjoy_ajaxaddtocart>
                <use>standard</use>
                <args>
                    <module>Enjoy_AjaxAddToCart</module>
                    <frontName>ajaxaddtocart</frontName>
                </args>
            </enjoy_ajaxaddtocart>
			
        </routers>
		    <layout>
            <updates>
                <ajaxaddtocart>
                    <file>ajaxaddtocart.xml</file>
                </ajaxaddtocart>
            </updates>
        </layout>
    </frontend> 
 </config>